.form {
  color: #666666;
  margin: 15px 0;
  max-width: 1200px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header h1 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-header {
  background-color: white;
}

.form-body {
  max-width: 100%;
  background-color: #feeed6;
  padding: 15px 0;
}

.input-field {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  font-weight: 700;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  color: #676565;
}

.input-field input, .input-field textarea {
  margin: 2px 0;
  padding: 10px 12px;
  box-sizing: border-box;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 100%;
}

input::placeholder, textarea::placeholder {
  color: #bbbbbb;
}

.input-field textarea {
  resize: vertical;
}

.button-text {
  float: left;
}

.button {
  float: right;
}

button:hover {
  background-color: #31718c;
}

.send-button {
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin: 25px 0;
  background-color: #378db2;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.clearfix {
  clear: both;
  height: 0;
}
