.form {
  color: #666666;
  margin: 15px 0;
  max-width: 1200px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-header {
  background-color: white;
}

.form-body {
  max-width: 100%;
  background-color: #feeed6;
  padding: 15px 0;
}

.input-field {
  box-sizing: border-box;
  float: left;
 width: 100%;
  margin-bottom: 15px;
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text], textarea {
  padding: 6px 12px;
  box-sizing: border-box;
  border: none;
  color: gray;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 6px 0;
}

textarea {
  resize: vertical;
}

.button-text {
  float: left;
}
.button{
  float: right;
}
button:hover{
  background-color: #31718c;
}

.send-button {
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  float: right;
  font-size: 14px;
  alignment: right;
  font-weight: 700;
  margin: 20px 0;
  width: fit-content;
  background-color: #378db2;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.clearfix{
  clear: both;
  height: 0;
}
