.table {
  max-width: 750px;
}

.table table {
  table-layout: auto;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
  border-collapse: collapse;
  font-size: 20px;
  border: none;
}

.table thead {
  background-color: #3498db;
  color: white;
  text-align: left;
}

.table tbody {
  color: black;
}

.table td, th {
  box-sizing: border-box;
  border: 1px solid lightgray;
  padding: 13px 11px;
}

.table tr:nth-child(odd) :not(th) {
  background-color: #eeeeee;
}

.first-name, .last-name {
  width: 20%;
}

.job-title {
  width: 35%;
}

.twitter {
  width: 25%;
}

