table {
  table-layout: auto;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  border: 1px solid lightgray;
  border-collapse: collapse;
  font-size: 14pt;

}

thead {
  background-color: #3498db;
  color: white;
  text-align: left;
}

tbody {
  color: black;
}

td, th {
  box-sizing: border-box;
  border: 1px solid lightgray;
  padding: 13px 11px;
}

tr:nth-child(odd) :not(th) {
  background-color: #eeeeee;
}

.first-name, .last-name {
  width: 150px;
}

.job-title {
  width: 270px;
}

.twitter {
  width: 180px;
}

