.container {
    box-sizing: border-box;
    margin: 20px;
    width: 70%;
    font: normal 12px Helvetica, Arial, sans-serif;
}

.header {
    font: bold 20px Helvetica, sans-serif;
}

.inputForm {
    width: 90%;
    box-sizing: border-box;
    margin: 20px 0;
}

.input {
    float: left;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 3px;
    margin-right: 10px;
}

.alert {
    border-color: red;
}

.alertBox {
    float: right;
    padding: 5px 10px;
    font-size: 20px;
    color: red;
}
.noDisplay {
    display: none;
}

.cell  {
    border: 1px solid #999999;
    text-align: center;
    padding: 5px 10px;
}

.mainTable {
    border: 1px solid #999999;
    width: 90%;
    table-layout: auto;
    border-collapse: collapse;

}

.colNumber, .colDelete {
    width: 5%;
}

.colFirstName, .colLastName {
    width: 35%;
}
