{% extends 'layout.twig' %}

{% block body %}
    <div id="app" class="container">
        <div class="row align-items-center mt-3">
            <div class="col-5">
                <h2><span class="header">My phonebook</span></h2>
            </div>
            <div class="col-2">
                <button type="button" @click="addContact" class="btn btn-primary custom-btn"
                        v-bind:disabled="addDisabled">
                    Add new contact
                </button>
            </div>
        </div>

        <hr>
        <div class="row align-items-center mb-2">
            <div class="col-7 control">
                <input
                        v-model="name"
                        type="text"
                        name="name"
                        class="form-control input_form"
                        placeholder="Name"
                        v-validate="'required'"
                        :class="{'error': errors.has('name')}"
                >
                <div v-if="errors.has('name')" class="err_msg" v-text="errors.first('name')"></div>
            </div>
        </div>
        <div class="row align-items-center mb-2">
            <div class="col-7 control">
                <input
                        v-model="phone"
                        type="text"
                        name="phone"
                        class="form-control input_form"
                        placeholder="Phone"
                        v-validate="'required|numeric'"
                        :class="{'error': errors.has('phone')}"
                >
                <div v-if="errors.has('phone')" class="err_msg" v-text="errors.first('phone')"></div>
            </div>
        </div>
        <hr>

        <div class="row align-items-center mt-3">
            <div class="col-5 ">
                <h2><span class="header">Search</span></h2>
            </div>
            <div class="col-2">
                <button type="button" @click="loadContacts(searchTerm)" class="btn btn-primary custom-btn"
                        id="searchBtn">
                    Search
                </button>
            </div>
        </div>
        <div class="row align-items-center mb-4">
            <div class="col-5">
                <input v-model="searchTerm" @keyup="loadContacts(searchTerm)" type="text" class="form-control"
                       placeholder="Name / Phone">
            </div>
            <div class="col-2">
                <button type="button" @click="loadContacts('')" class="btn btn-primary custom-btn" id="clearBtn">Clear
                    search
                </button>

            </div>
        </div>

        <hr>

        <div class="row align-items-center mt-3">
            <div class="col-5 ">
                <h2><span class="header">Contacts</span></h2>
            </div>
            <div class="col-2">
                <button @click="batchDeleteContacts(searchTerm)" class="btn btn-primary custom-btn" type="button"
                        v-bind:disabled="batchDelDisabled">Delete selected
                </button>
            </div>
        </div>

        <table class="table table-sm main-table">
            <thead>
            <tr>
                <th></th>
                <th class="justify-center">#</th>
                <th class="justify-left">Name</th>
                <th class="justify-left">Phone</th>
                <th class="justify-center"></th>
            </tr>
            </thead>

            <tbody>
            <tr v-cloak :key="contacts.id" v-for="(contact, index) in contacts">
                <td class="justify-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-bind:value="contact.id"
                               v-model="checkedItems">
                    </div>
                </td>
                <td class="justify-center" v-text="index + 1 + '.'">.</td>
                <td class="justify-left" v-text="contact.name">.</td>
                <td class="justify-left" v-text="contact.phone">.</td>
                <td class="justify-center">
                    <button @click="deleteContact(contact)" class="btn btn-secondary btn-sm" type="button">X
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
