[v-cloak] {
    display: none;
}

.main-table tr {
    margin-bottom: 0;
}

.input_form input:invalid {
    border-color: red;
}

.err_msg {
    font-size: small;
    color: red;
}

.custom-btn {
    width: 150px;
    padding: 5px 2px;
}

.justify-center {
    text-align: center;
}

.justify-left {
    text-align: left;
}